{% extends 'main/layout.html' %}

{% block title %}О компании{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">О компании</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        
      </div>
    </div>
<h3>Полное наименование:</h3>Акционерное общество "Терский завод алмазного инструмента"
            <br><br><h3>Выпускаемая продукция:</h3><li>Алмазные буровые инструменты для геолого-разведочных и горнорудных предприятий (коронки, долота, расширители);</li><li>Алмазные правящие инструменты (прецизионные фасонные ролики, карандаши, гребенки, алмазы в оправе), шлифовальный алмазный инструмент (круги АЧК, прямого профиля и т.д.) для машиностроения и металлообработки;</li>
            <li>Алмазный инструмент для камнеобработки и стройиндустрии (круги отрезные сегментные, фрезы, бруски, канатные пилы и т.д.) для резки, шлифовки, полировки природного камня, бетона, асфальта; алмазные пасты;</li>
            <li>Синтетические алмазы монокристаллические и поликристаллические.</li>
            <br><h3>Терский завод алмазного инструмента - это:</h3>
            <li>европейское качество по российским ценам;</li>
            <li>гарантии крупнейшего в России и СНГ производителя алмазного инструмента;</li>
            <li>возможность доставки в любую точку мира;</li>
            <li>продукция, изготовленная на современном оборудовании с использованием новейших технологий;</li>
            <li>оперативность и качество исполнения заказов;</li>
            <li>гибкий график оплаты;</li>
            <li>техническая поддержка производителя;</li>
            <li>высокий профессионализм, внимание и доброжелательность сотрудников.</li>
            <br><h2>Карта</h2>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae42a31498bf310fc19102a328a93c3d2114a4b5b4935e4466ecec9dfd2a3d162&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        </div>
    </main>
{% endblock %}