{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Генеральный директор{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Генеральный директор</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>
    <img src="{% static 'main/img/ceo.jpg' %}" title="Tleuzhev_A_B.jpg" style="float: left; margin: 10px 10px 0 0;" width="210" height="280">
<h3>Тлеужев Адальби Билелович</h3>
            <br><h6>Родился 20 июля 1960 года в с. Дейское, Терского района, КБР.</h6>
            <h6>В 1982 году окончил КБГУ.</h6>
            <h6>В этом же году начал работать на Кабардино-Балкарском Заводе алмазного инструмента.</h6>
            <h6>На заводе прошел путь от мастера цеха до генерального директора.</h6>
            <h6>Основой своей деятельности, будучи 1-м заместителем, а в последствии генеральным директором,
                <br>Адальби Билелович считает реструктуризацию завода за счет обновления техники и технологии, вывод качества выпускаемой продукции на конкурентноспособный уровень.</h6>
            <h6>Тлеужев Адальби Билелович является депутатом Парламента КБР.</h6>
            <br>
            <br>
            Депутат Парламента Кабардино-Балкарской Республики от Кабардино-Балкарского регионального отделения Всероссийской политической партии "Единая Россия".
            <br>
            <br>
            С 1973 по 1976 год – рабочий винсовхоза "Россия", сел. Дейское.
            <br>С 1986 по 1995 год – мастер производственного участка Кабардино-Балкарского завода алмазных инструментов.
            <br>С 1995 по 1997 год – генеральный директор АОЗТ "Алмаз", г. Терек.
            <br>С 1997-го по 2003 год – заместитель генерального директора ОАО "Терекалмаз" по маркетингу и сбыту.
            <br>С 2003 года – генеральный директор ОАО "Терекалмаз".
            <br>
            <br>
            Избирался депутатом Парламента Кабардино-Балкарской Республики третьего, четвертого и пятого созывов.
    </main>
{% endblock %}