{% extends 'main/layout.html' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Обратная связь с заводом</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        
      </div>
    </div>
<h3>Написать письмо:</h3>
Нажмите кнопку ниже для обратной связи
<br><a href="mailto:mail@terekalmaz.ru" class="btn btn-warning" style="margin-top: 10px;">Отправить сообщение</a>
            <br><br><h3>Контактные данные:</h3>
            <li>Общезаводской адрес <b>mail@terekalmaz.ru</b></li>
            <li>Экспорт <b>info@terekalmaz.ru</b></li>
            <li>Производство искусственных алмазов <b>pia@terekalmaz.ru</b></li>
            <li>Производство бурового инструмента <b>pbi@terekalmaz.ru</b></li>
            <li>Производство камнеобрабатывающего инструмента <b>pki@terekalmaz.ru</b></li>
            <li>Производство правящего инструмента <b>rolik@terekalmaz.ru</b></li>
            <li>Производство огранки алмазов <b>poa@terekalmaz.ru</b></li>
        </div>
    </main>
{% endblock %}