{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Председатель совета директоров{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Председатель совета директоров</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        
      </div>
    </div>
    <img src="{% static 'main/img/cvo.jpg' %}" width="300" height="300" border="0" style="float: left; margin: 10px 10px 0 0;">
<h3>Хажуев Владимир Шамилович</h3>
            <br><h6>Родился 10 февраля 1938 года в г. Тереке, Терского района КБР.</h6>
            <h6>Окончил Московский институт механизации и электрификации сельского хозяйства в 1959 году.</h6>
            <h6>С 01.08.1959г. по 17.11.1960г. работал на Прохладненском ремонтном заводе старшим мастером.</h6>
            <h6>С 1960г. работал на Кабардино-Балкарском Заводе алмазных инструментов старшим инженером- конструктором.</h6>
            <h6>С сентября 1961г. — начальником технического отдела. В 1965г. назначен главным инженером.</h6>
            <h6>С февраля 1971г. по 1997г. — генеральный директор завода.</h6>
            <h6>С февраля 1997 года Указом Президента КБР назначен Министром промышленности, транспорта и связи КБР.</h6>
            <h6>С октября 1998г. по настоящее время — Председатель Совета директоров АО «Терекалмаз».</h6>
            <br>
            <br>
            <h3>Награды:</h3>
            <br>
            Орден «Красного Трудового Знамени» — указ президиума Верховного Совета СССР от 05.04.1971г.
            <br>Орден «Красного Трудового Знамени» — указ президиума Верховного Совета СССР от 12.05.1977г.
            <br>Орден «Дружбы Народов» — указ Президиума Верховного Совета СССР от 10.06.1986г.
            <br>Лауреат Государственной премии СССР по науке и технике — Постановление Центрального Комитета КПСС и Совета Министров СССР от 27.10.1977г.
            <br>Юбилейная медаль «За доблестный труд» — 03.04.1970г. «Почетный машиностроитель» — приказ №68-П от 20.02.2008г. «Менеджер года 2010» — победитель Российского конкурса
            «Заслуженный машиностроитель РФ» — 2013г.
            <br>
            <br>
            «Почётный гражданин города Терек»
    </main>
{% endblock %}