{% extends 'main/layout.html' %}

{% block title %}Сотрудники{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Сотрудники</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        
      </div>
    </div>
    <ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a class="nav-link" href="#" aria-label="Add new employees">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
          Добавить сотрудника
        </a>
    </li>
</ul>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        
      </div>
    </div>
      <a>Test text</a>
    </main>
{% endblock %}