{% extends 'main/layout.html' %}

{% block title %}Продукция{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Продукция</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        
      </div>
    </div>
    <ul>
        <li>Алмазный инструмент для машиностроения
            <ul>
                <li>Алмазные прецизионные ролики</li>
                <li>Алмазы в оправе</li>
                <li>Карандаши и специнструмент</li>
                <li>Алмазный шлифовальный инструмент: круги шлифовальные и хонинговальные бруски</li>
            </ul>
        </li>
        <li>Породоразрушающий инструмент - буровые коронки и расширители
            <ul>
                <li>Коронки импрегнированные</li>
                <li>Коронки однослойные</li>
                <li>Башмаки обсадных труб</li>
                <li>Алмазные расширители</li>
            </ul>
        </li>
        <li>Алмазный строительный инструмент и инструмент для камнеобработки
            <ul>
                <li>Алмазные отрезные сегментные круги для резки с охлаждением водой</li>
                <li>Алмазные отрезные сегментные круги для сухой резки</li>
                <li>Алмазные сегменты типа «Cандвич»</li>
                <li>Резцы алмазные</li>
                <li>Элементы шлифовальные</li>
                <li>Сверла алмазные кольцевые сегментные</li>
                <li>Фрезы торцевые</li>
                <li>Бруски алмазные</li>
                <li>Пилы алмазные полосовые (штрипсы)</li>
                <li>Франкфурты</li>
                <li>Алмазные фасонные ролики для обработки камня</li>
            </ul>
        </li>
    </ul>
    </div>
  </main>
{% endblock %}